<div class="container-fluid">
  <div class="row">
    <div [ngClass]="sidebarClass" [ngStyle]="sidebarStyle">
      <div class="d-flex flex-column p-3 sticky-sidebar">
        <h4><i class="fas fa-folder icon-small"></i> A-SYS</h4>
        <div class="mb-3">
          <form class="d-flex align-items-center">
            <i class="fas fa-search icon-small me-1 text-muted"></i>
            <input class="form-control form-control-sm" type="search" placeholder="Ara..."  aria-label="Search">
          </form>
        </div>
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <a href="javascript:void(0)" class="nav-link" (click)="toggleVarliklar()">
                <i class="fas icon-small" [ngClass]="isVarliklarExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Varlıklar
                <i class="fas" [ngClass]="isVarliklarExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isVarliklarExpanded">
                <li *ngFor="let varlik of varliklar">
                  <a [routerLink]="varlik.ruoterLink" class="nav-link"><i class="fas fa-folder icon-small"></i> {{ varlik.name }}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" class="nav-link" (click)="toggleStok()">
                <i class="fas icon-small" [ngClass]="isStokExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Stok
                <i class="fas" [ngClass]="isStokExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isStokExpanded">
                <li *ngFor="let stok of stok">
                  <a [routerLink]="stok.ruoterLink" class="nav-link"><i class="fas fa-folder icon-small"></i> {{ stok.name }}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" class="nav-link" (click)="toggleGuvenlik()">
                <i class="fas icon-small" [ngClass]="isGuvenlikExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Güvenlik
                <i class="fas" [ngClass]="isGuvenlikExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isGuvenlikExpanded">
                <li *ngFor="let guvenlik of guvenlik">
                  <a [routerLink]="guvenlik.ruoterLink" class="nav-link"><i class="fas fa-folder icon-small"></i> {{ guvenlik.name }}</a>
                </li>
              </ul>
            </li>
            <li *ngIf="isAdmin()">
              <a href="javascript:void(0)" class="nav-link" (click)="toggleYonetim()">
                <i class="fas icon-small" [ngClass]="isYonetimExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Yönetim
                <i class="fas" [ngClass]="isYonetimExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isYonetimExpanded">
                <li *ngFor="let yonetim of yonetim">
                  <a [routerLink]="yonetim.ruoterLink" class="nav-link"><i class="fas fa-folder icon-small"></i> {{ yonetim.name }}</a>
                </li>
              </ul>
            </li>
            <li *ngIf="isAdmin()">
              <a href="javascript:void(0)" class="nav-link" (click)="toggleSistemKonfigurasyonu()">
                <i class="fas icon-small" [ngClass]="isSistemKonfigurasyonuExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Sistem Konfigürasyonu
                <i class="fas" [ngClass]="isSistemKonfigurasyonuExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isSistemKonfigurasyonuExpanded">
                <li *ngFor="let sistem of sistemKonfig">
                  <a [routerLink]="sistem.ruoterLink" class="nav-link"><i class="fas fa-folder icon-small"></i> {{ sistem.name }}</a>
                </li>
              </ul>
            </li>
            <li *ngIf="isAdmin()">
              <a href="javascript:void(0)" class="nav-link" (click)="toggleIsEmirleri()">
                <i class="fas icon-small" [ngClass]="isIsEmirleriExpanded ? 'fa-folder-open' : 'fa-folder'"></i> İş Emirleri
                <i class="fas" [ngClass]="isIsEmirleriExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isIsEmirleriExpanded">
                <li *ngFor="let emir of isEmirleri">
                  <a [routerLink]="emir.ruoterLink" class="nav-link"><i class="fas fa-folder icon-small"></i> {{ emir.name }}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-10">
        <div class="d-flex justify-content-end align-items-center p-3">
          <div class="me-3"> 
            <span>{{ username }}</span> 
          </div>
          <div>
            <a href="#" class="btn btn-primary">Çıkış Yap</a> 
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  