<div class="container-fluid">
    <div class="row">
      <div [ngClass]="sidebarClass" [ngStyle]="sidebarStyle">
        <div class="d-flex flex-column p-3 sticky-sidebar">
          <h4><i class="fas fa-folder icon-small"></i> A-SYS</h4>
          <div class="mb-3">
            <form class="d-flex align-items-center">
              <i class="fas fa-search icon-small me-1 text-muted"></i>
              <input class="form-control form-control-sm" type="search" placeholder="Ara..." aria-label="Search">
            </form>
          </div>
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <a href="javascript:void(0)" class="nav-link" (click)="toggleVarliklar()">
                <i class="fas icon-small" [ngClass]="isVarliklarExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Varlıklar
                <i class="fas" [ngClass]="isVarliklarExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isVarliklarExpanded">
                <li><a href="#" class="nav-link"><i class="fas fa-folder icon-small"></i> Varlık 1</a></li>
                <li><a href="#" class="nav-link"><i class="fas fa-folder icon-small"></i> Varlık 2</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" class="nav-link" (click)="toggleStok()">
                <i class="fas icon-small" [ngClass]="isStokExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Stok
                <i class="fas" [ngClass]="isStokExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isStokExpanded">
                <li><a href="#" class="nav-link"><i class="fas fa-folder icon-small"></i> Stok 1</a></li>
                <li><a href="#" class="nav-link"><i class="fas fa-folder icon-small"></i> Stok 2</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0)" class="nav-link" (click)="toggleGuvenlik()">
                <i class="fas icon-small" [ngClass]="isGuvenlikExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Güvenlik
                <i class="fas" [ngClass]="isGuvenlikExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isGuvenlikExpanded">
                <li><a href="#" class="nav-link"><i class="fas fa-folder icon-small"></i> Güvenlik 1</a></li>
                <li><a href="#" class="nav-link"><i class="fas fa-folder icon-small"></i> Güvenlik 2</a></li>
              </ul>
            </li>
            <li *ngIf="isAdmin()">
              <a href="javascript:void(0)" class="nav-link" (click)="toggleYonetim()">
                <i class="fas icon-small" [ngClass]="isYonetimExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Yönetim
                <i class="fas" [ngClass]="isYonetimExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isYonetimExpanded">
                <li><a routerLink="meslek-grubu" class="nav-link"><i class="fas fa-folder icon-small"></i> Meslek Grupları</a></li>
                <li><a routerLink="baslangic-merkezi" class="nav-link"><i class="fas fa-folder icon-small"></i> Başlangıç Merkezi Şablonları</a></li>
                <li><a routerLink="nesne-yapilandirma" class="nav-link"><i class="fas fa-folder icon-small"></i> Nesne Yapılandırma</a></li>
                <li><a routerLink="elemanlar" class="nav-link"><i class="fas fa-folder icon-small"></i> Elemanlar</a></li>
                <li><a routerLink="kisiler" class="nav-link"><i class="fas fa-folder icon-small"></i> Kişiler</a></li>
                <li><a routerLink="rapor-yoneticisi" class="nav-link"><i class="fas fa-folder icon-small"></i> Rapor Yöneticisi</a></li>
              </ul>
            </li>
            <li *ngIf="isAdmin()">
              <a href="javascript:void(0)" class="nav-link" (click)="toggleSistemKonfigurasyonu()">
                <i class="fas icon-small" [ngClass]="isSistemKonfigurasyonuExpanded ? 'fa-folder-open' : 'fa-folder'"></i> Sistem Konfigürasyonu
                <i class="fas" [ngClass]="isSistemKonfigurasyonuExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isSistemKonfigurasyonuExpanded">
                <li><a routerLink="domain" class="nav-link"><i class="fas fa-folder icon-small"></i> Domains</a></li>
              </ul>
            </li>
            <li *ngIf="isAdmin()">
              <a href="javascript:void(0)" class="nav-link" (click)="toggleIsEmirleri()">
                <i class="fas icon-small" [ngClass]="isIsEmirleriExpanded ? 'fa-folder-open' : 'fa-folder'"></i> İş Emirleri
                <i class="fas" [ngClass]="isIsEmirleriExpanded ? 'fa-chevron-up' : 'fa-chevron-down'" class="float-end"></i>
              </a>
              <ul class="nav flex-column ms-3" *ngIf="isIsEmirleriExpanded">
                <li><a routerLink="aks" class="nav-link"><i class="fas fa-folder icon-small"></i> İş Emri İzleme - AKS</a></li>
                <li><a routerLink="ats" class="nav-link"><i class="fas fa-folder icon-small"></i> İş Emri İzleme - ATS</a></li>
                <li><a routerLink="bs" class="nav-link"><i class="fas fa-folder icon-small"></i> İş Emri İzleme - BS</a></li>
                <li><a routerLink="kads-kats" class="nav-link"><i class="fas fa-folder icon-small"></i> İş Emri İzleme - KADS/KATS</a></li>
                <li><a routerLink="knl" class="nav-link"><i class="fas fa-folder icon-small"></i> İş Emri İzleme - KNL</a></li>
                <li><a routerLink="endeks-oku" class="nav-link"><i class="fas fa-folder icon-small"></i> İş Emri İzleme - ENDEKS OKU</a></li>
                <li><a routerLink="sa" class="nav-link"><i class="fas fa-folder icon-small"></i> İş Emri İzleme - SA</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-10">
        <div class="d-flex justify-content-end align-items-center p-3">
          <div class="me-3"> 
            <span>{{ username }}</span> 
          </div>
          <div>
            <a href="#" class="btn btn-primary">Çıkış Yap</a> 
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  